name: Build and release

on:
  push:
    branches: [ main ]
    tags:
      - v*
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        target:
          - name: macos
            os: macos-latest
            artifact: darwin-x64
          - name: linux
            os: ubuntu-latest
            artifact: linux-x64
#          - name: windows
#            os: windows-latest
#            artifact: win32-x64
    runs-on: ${{ matrix.target.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '>=18'
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.19'
      - run: npm ci --ignore-scripts
      - run: npm run build
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.target.artifact }}
          path: prebuilds/${{ matrix.target.artifact }}/*

  bundle:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '>=18'
      - uses: actions/download-artifact@v2
        with:
          path: prebuilds
      - run: npm ci --ignore-scripts
      - run: npm test
      - run: npm pack .
      - uses: actions/upload-artifact@v2
        with:
          name: release
          path: mysql-binlog-*.tgz