name: Build and release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '>=18'
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: |
            prebuilds/**/*
            dist/*
          if-no-files-found: error
          retention-days: 1

  test:
    needs: build
    strategy:
      matrix:
        target:
          - name: macos
            os: macos-latest
          - name: linux
            os: ubuntu-latest
          - name: windows
            os: windows-latest
    runs-on: ${{ matrix.target.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '>=18'
      - uses: actions/download-artifact@v4
        with:
          name: build
      - run: npm ci
      - run: npm test

  release:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '>=18'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci --ignore-scripts
      - uses: actions/download-artifact@v4
        with:
          name: build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}